Adafruit BusIO - 1.16.0
Adafruit GFX Library - 1.11.9
Adafruit MPU6050 - 2.2.6
Adafruit Unified Sensor - 1.1.14
LedControl - 1.0.6
MD_MAX72XX - 3.5.1
MD_Parola - 3.7.3
ThingSpeak - 2.0.1
TickTwo - 4.4.0